/* There is a problem with the "toggleNav" class. When the page is resized to mobile-view, the "menu" toggle is open, and the page is resized to desktop view, 
the list elements will stay in a column instead of reverting back to a row. Need to return to this code to fix this bug in the near future */
                                                                /* FIXED */



/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Orbitron:wght@900&family=Rye&display=swap");

/* All */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #24252a;
}

/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10%;
  background-color: #24252a;
}

/* Title/Subtitle */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #edf0f1;
  padding: 20px;
  align-items: center;
  margin-top: -60px;
}

.title h1 {
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  color: #0088a9;
}

.title h2 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
}

/* Navigation Bar */
.links li {
  padding: 0px 20px 10px;
}

.links li a {
  transition: all 0.3s ease 0s;
}


nav li,
nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

nav {
  margin-top: 50px;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

.toggleNav {
  display: block;
  padding: 10px;
  color: #0088a9;
  margin-bottom: 20px;
  margin-right: 10px;
}

#proj {
  font-size: 16px;
  font-weight: 500;
  color: goldenrod;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  background-color: goldenrod;
  padding: 5px;
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(255, 255, 255, 0.7) 5%,
    rgba(255, 255, 255, 0.7) 10%,
    transparent 10%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 1.2s;
}

/* Body */

body {
  background-color: silver;
}

section.main {
  height: 100px;
  flex-grow: 1;
  /* overflow-y: auto; */
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}


h2 {
  padding-bottom: 20px;
}

p {
  padding: 2px;
  margin-bottom: 5px;
}

.item {
  padding: 2rem;
  background-color: #edf0f1;
  margin: 1em;
  box-shadow: 2px 2px 5px grey;
}

/* Intro */
#intro ul {
  list-style-type: none;
  font-family: monospace;
  font-size: 15px;
}

.photo {
  width: 500px;
  max-width: 80%;
  padding-bottom: 20px;
}

/* About Me */

/* Contact */

#contact ul {
  display:flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 10px;
}

#contact ul a {
  color: #edf0f1;
  text-decoration: none;
}

#contact .social {
  background-color: #0088a9;
  border-radius: 5%;
  margin: 10px;
  width: 130px;
  height: 50px;
  color: #edf0f1;
  font-size: 18px;
  transition: 0.5s;
}

#contact .social:hover {
  background-color: goldenrod;
}

#contact h2 {
  margin-top: 20px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 100px;
}

#contact-form label {
  padding: 10px;
}

#contact-form input {
  height: 35px;
  font-size: 20px;
}

#contact-form textarea {
  resize: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

#submit {
  margin-top: 10px;
  height: 40px;
  background-color: #0088a9;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  box-shadow: 2px 2px 5px grey;
}

#submit:hover {
  background-color: goldenrod;
  transition: 0.3s;
}

/* Projects */

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-item {
  max-width: 70%;
  transition: 0.2s;
  cursor: pointer;
  border: 4px solid goldenrod;
  margin-left: 10px;
  margin-top: 20px;
}

#project {
  background-color: #24252a;
  color: #0088a9;
  font-size: 20px;
}

#project h2 {
  color: goldenrod;
  font-size: 25px;
  height: 30px;
  margin-bottom: 20px;
}

#project p {
  font-size: 15px;
  color: #edf0f1;
}

#project ul {
  color: #0088a9;
  padding-bottom: 20px;
}

#project li {
  color: #edf0f1;
  list-style-type: none;
  font-family: monospace;
  font-size: 15px;
  padding-bottom: 5px;
}

.git-link a {
  color: #edf0f1;
  text-decoration: none;
  font-size: 15px;
}

.git-link a:hover {
  color: goldenrod;
}

/* Footer */

footer {
  background-color: #24252a;
  height: 100px;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer h2 {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: #edf0f1;
}

/* Media Queries */

@media all and (min-width: 1280px) {
  /* Navigation */

  nav ul {
    display: flex;
    flex-direction: row;
  }

  .toggleNav {
    display: none;
  }

  .links li a:hover {
    color: #0088a9;
  }

  #proj:hover {
    background-position: -120% 0;
  }

  .toggleNav:hover {
    color: #edf0f1;
  }

  nav ul.open {
    display: flex;
    flex-direction: row;
  }

  /* Intro */

  #intro {
    display: flex;
    flex-direction: row;
  }

  #intro h2 {
    align-self: right;
    padding-left: 8px;
  }

  #intro ul {
    padding-left: 10px;
  }

  .intro-content {
    text-align: left;
    padding-left: 100px;
  }

  .photo {
    height: 25%;
    width: 20%;
    align-self: center;
  }

  /* About */

  #about {
    display: flex;
    flex-direction: column;
  }

  #about h2 {
    align-self: flex-start;
  }

  #about p {
    text-align: left;
  }

  /* Contact */

  #contact-form input,
  #contact-form textarea,
  #submit {
    width: 30%;
    margin-left: 35%;
  }

  /* Projects */

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery h2 {
    font-size: 20px;
  }

  .gallery-item {
    height: 400px;
    width: 500px;
  }

  .gallery-item:hover {
    transform: scale(1.1);
  }

  .img-text {
    width: 30%;
  }

  .gallery p {
    width: 50%;
    margin-left: 25%;
  }

  /* Footer */

  footer h2 {
    text-align: left;
  }
}
